@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;

  src: url('fonts/icomoon.eot?bju7xi');
  src: url('fonts/icomoon.eot?bju7xi#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?bju7xi') format('truetype'),
  url('fonts/icomoon.woff?bju7xi') format('woff'),
  url('fonts/icomoon.svg?bju7xi#icomoon') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;

  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-compose:before {
  content: "\e900";
}
.icon-ouc--baoming:before {
  content: "\e901";
}
.icon-ouc-comment:before {
  content: "\e902";
}
.icon-ouc-gerenzhongxin:before {
  content: "\e903";
}
.icon-ouc-gwpx:before {
  content: "\e904";
}
.icon-ouc-hudong:before {
  content: "\e905";
}
.icon-ouc-jtwd:before {
  content: "\e906";
}
.icon-ouc-shezhi:before {
  content: "\e907";
}
.icon-ouc-shouye:before {
  content: "\e908";
}
.icon-ouc-xinxi:before {
  content: "\e909";
}
.icon-ouc-xl:before {
  content: "\e90a";
}
.icon-ouc-zan:before {
  content: "\e90b";
}
.icon-ouc-zhuanfa:before {
  content: "\e90c";
}
.icon-ouc-zixun:before {
  content: "\e90d";
}
.icon-ouc-zy:before {
  content: "\e90e";
}
.icon-ouc-select:before {
  content: "\e90f";
}
.icon-ouc-suceess:before {
  content: "\e910";
}
